* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    max-width: 800px;
    height: 100%;
    margin: auto;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
}


h1 {
    text-align: center;
}

header {
    padding: 8px;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
}

.tile {
    flex-shrink: 0;
    width: 200px;
    height: 200px;
    border: solid 1px black;
}

footer {
    margin-top: auto;
    background-color: black;
    color: white;
    font-size: large;
    padding: 8px;
}